@import 'variables';
@import '../default/base';

.contract-create {
  .contract-items {
    display: none !important;
  }
}

.contract-created {
  .contract-items {
    display: none !important;
  }
}

.contract-detail {
  .contract-items {
    display: none !important;
  }
}

.contract-terminate {
  .contract-items {
    display: none !important;
  }
}
